

.admin-table {
  position: relative;
  display: inline;
  border: 2px solid wheat;
  padding-top: 9px;
 }

th,
td {
  border: 1px solid wheat;
  padding: 3px 40px;
  color: white;
  
}


.cards-container {
  display: inline;
  height: 100%;
  font-weight: 500;
  margin-top: 20px 20px; 
}

.cards-container >.h4 {

  font-size: 20px;
  text-align: center;
  color: wheat;

}

.search {
  margin: auto;

}

h5 {
  color: white;
}
h3{
  margin-top:3px;
  color: wheat;
}

.edit-icon:hover,
.delete-icon:hover {
  cursor: pointer;
}

.edit-icon:active,
.delete-icon:active {
  transform: scale(0.8);
}