header {
        margin-top: 5px;
        border-radius: 5px;
        background-color: gray;
        min-height: 150px;
        line-height: 150px;
        box-shadow: 0 0 5px (0, 0, 0, 0.8);

}

h1 {
        color: purple;
        font-size: 20px;
        text-align: center;
}