.layout {
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 10% 85% 5%; */
  grid-template-rows: auto 1fr auto;
  
  
}


/* .layout>footer {
  grid-column: span 12;
  background-color: gray
} */

.layout>header {
  grid-column: span 12;
 
  background-image: url(../../../../public/img/fon5-header.jpg);
}


.layout>main {
  grid-column: span 12;
  
  background-image: url(/public/img/fon5-2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

}



