.layout {
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  
  
}


.layout>header {
  grid-column: span 12;
  background-position: 0 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../../public/img/fon5-header.jpg);
}


.layout>main {
  grid-column: span 12;
  background-image: url(/public/img/fon5-2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;

}

.login-page,
.register-page {
  /* background-image: url(../../../img/login\ back\ 2.jpg);  */
  background-image: url(../../../img/login\ back\ 1.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  
}



