.layout {
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 85% 5%;
  /* background-image: url("../../../../public/img/fon5.jpg"); */
  
}


.layout>footer {
  grid-column: span 12;
  background-color: gray
}

.layout>header {
  grid-column: span 12;
  /* background-color: rgba(128, 128, 128, 0.664); */
  background-image: url(../../../../public/img/fon5-header.jpg);
}

/* .layout>aside {
        grid-column: span 2;
        background-color: rgb(205, 164, 50);
      } */

.layout>main {
  grid-column: span 12;
  
  background-image: url(/public/img/fon5-2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  


}