.customer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}



.coupons-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 17px;
}

@media screen and (min-width: 480px) {
  .coupons-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .coupons-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .coupons-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .coupons-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.pagination-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pagination-container>.button {
  background: white;
  color: black;
  padding: 2px 15px;
  border: none;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-container h5 {
  margin: 0 10px;
}