.Register {

  padding: 30px ;
  text-align: center;
  width: 30%;
  margin-top: 5%;
  max-width: 200px;
  min-height: 200px;
  position: relative;
  background-color: rgba(9, 150, 185, 0.815);
  /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px 20px ; */
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, .7), 0 10px 20px 0;
  border-radius: 20px;
}

.text {
margin-top: 1%;
margin-bottom: 15%;

}


