

.footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 3px;
        background-color: grey;
        font-size: 15px;
        color: wheat;
        padding: 5px;
      } 



      
   