.single-img {
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 230px;
  height: 270px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transition: .5s;

}

.single-img:hover {

  transform: scale(1.07);
}

.img-one {

  background-size: cover;
  background-position: center center;
}

h4 {
  color: black;

}

.img-text {
  margin-left: -10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 2), rgba(255, 255, 255, 1));
  padding: 0 5px 10px 10px;
  width: 100%;
  height: auto;
  position: relative;
  transform: translate(0, 220px);
  line-height: 20px;
  transition: 0.7s ease;
  display: inline-block;
  text-align: center;
  color: bisque;
}

p {
  font-size: 16px;
  color: black;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 20px;

}

a {

  font-size: 17px;
}


.img-text h4 {
  line-height: 5px;
  padding: 5px;
  margin: 5px 0;
  font-size: 22px;
}

.services button {
  background: blue;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  line-height: 14px;
  display: inline-flex;
  margin-left: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}

.services button:active {
  transform: scale(0.8);
}

.single-img:hover .img-text {
  transform: translate(0, 0);
}